.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 22px 1px 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px 300px 0 0;
  padding: 15px 61px 17px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 30px 21px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 234px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 458px;
  height: 458px;
  background-image: url("images/attractive-mixed-race-male-with-positive-smile-shows-white-teeth-keeps-hands-stomach-being-high-spirit-wears-white-shirt-rejoices-positive-moments-life-people-emotions-concept.jpg");
  background-position: 50% 50%;
  margin: -138px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 511px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 200px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 511px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 90px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 68px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -150px;
    margin-right: 168px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 992px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 105px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 909px;
  margin: 64px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 41px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-2 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-2 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-2 .u-image-1 {
  min-height: 581px;
  background-image: url("images/WhatsAppImage2024-06-04at15.47.19.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-4 {
    width: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 170px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 645px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 968px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 114px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 366px;
    margin-top: -1px;
    margin-right: 0;
    margin-left: -26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 11px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 141px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-2 .u-image-1 {
    min-height: 496px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 751px;
}

.u-section-3 .u-text-1 {
  margin: 82px 281px 0;
}

.u-section-3 .u-gallery-1 {
  height: 353px;
  width: 989px;
  grid-gap: 17px;
  margin: 104px auto 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-gallery-1 {
    height: 335px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 215px;
    margin-right: 215px;
  }

  .u-section-3 .u-gallery-1 {
    height: 797px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 161px;
    margin-right: 161px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1831px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-3 .u-text-1 {
    width: 220px;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-gallery-1 {
    height: 1165px;
    width: 340px;
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-4 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-4 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-4 .u-image-1 {
  min-height: 623px;
  background-image: url("images/WhatsAppImage2024-06-04at16.00.35.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 645px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1288px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 968px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 366px;
    margin-top: 75px;
    margin-right: 0;
    margin-left: -26px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-4 .u-image-1 {
    min-height: 496px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-5 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-5 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-5 .u-image-1 {
  min-height: 623px;
  background-image: url("images/WhatsAppImage2024-06-04at16.46.43.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 645px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1288px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 968px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1371px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 366px;
    margin-top: 56px;
    margin-right: 0;
    margin-left: -26px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-5 .u-image-1 {
    min-height: 496px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-6 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-6 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-6 .u-image-1 {
  min-height: 623px;
  background-image: url("images/WhatsAppImage2024-06-04at16.07.401.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 645px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 968px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1542px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 366px;
    margin-top: 2px;
    margin-right: 0;
    margin-left: -26px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 702px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 22px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-right: 11px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-6 .u-image-1 {
    min-height: 512px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-7 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-7 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-7 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-7 .u-image-1 {
  min-height: 623px;
  background-image: url("images/WhatsAppImage2024-06-04at16.16.19.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 645px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 968px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1378px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 366px;
    margin-top: 41px;
    margin-right: 0;
    margin-left: -26px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-7 .u-image-1 {
    min-height: 496px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-8 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-8 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-8 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-8 .u-image-1 {
  min-height: 623px;
  background-image: url("images/WhatsAppImage2024-06-04at16.19.39.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 645px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 968px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 366px;
    margin-top: -43px;
    margin-right: 0;
    margin-left: -26px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 11px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-8 .u-image-1 {
    min-height: 459px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-9 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-9 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-9 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-9 .u-image-1 {
  min-height: 623px;
  background-image: url("images/WhatsAppImage2024-06-04at16.23.54.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 645px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    min-height: 968px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 366px;
    margin: 18px 0 55px -26px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-9 .u-image-1 {
    min-height: 496px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-10 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-10 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-10 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-10 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-10 .u-image-1 {
  min-height: 623px;
  background-image: url("images/WhatsAppImage2024-06-04at16.27.14.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    min-height: 645px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    min-height: 968px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 366px;
    margin: 1px 0 55px -26px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-10 .u-image-1 {
    min-height: 496px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-11 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-11 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-11 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-11 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-11 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-11 .u-image-1 {
  min-height: 623px;
  background-image: url("images/boiler-reservatorio-termico-a-gas-acquatek-solarplus-no-rio-de-janeiro.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-11 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-11 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-11 .u-image-1 {
    min-height: 645px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-1 {
    min-height: 968px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 366px;
    margin: 14px 0 55px -26px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-11 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-11 .u-image-1 {
    min-height: 496px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-12 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-12 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-12 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-12 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-12 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-12 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-12 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-12 .u-image-1 {
  min-height: 623px;
  background-image: url("images/image_20201207153626_47321.jpeg");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-12 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-12 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-12 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-12 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-12 .u-image-1 {
    min-height: 645px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-1 {
    min-height: 968px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 366px;
    margin: 0 0 55px -26px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 0;
  }

  .u-section-12 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-12 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-12 .u-image-1 {
    min-height: 496px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-13 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-13 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-13 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-13 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-13 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-13 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-13 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-13 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-13 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-13 .u-image-1 {
  min-height: 623px;
  background-image: url("images/quais-as-vantagens-de-utilizar-o-gas-encanado-no-seu-condominio-1627494260.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-13 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-13 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-13 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-13 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-13 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-13 .u-image-1 {
    min-height: 645px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-1 {
    min-height: 968px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-13 .u-layout-wrap-1 {
    width: 366px;
    margin: 0 0 55px -26px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 0;
  }

  .u-section-13 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-13 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-13 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-13 .u-image-1 {
    min-height: 496px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-14 .u-text-1 {
  font-size: 2.25rem;
  margin: 109px 116px 0 212px;
}

.u-section-14 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-14 .u-container-layout-1 {
  padding: 0 41px 30px;
}

.u-section-14 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 52px 264px 0 19px;
}

.u-section-14 .u-text-3 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 6px 19px 0;
}

.u-section-14 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Nunito;
  margin: 19px 165px 0 19px;
}

.u-section-14 .u-text-5 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 4px 19px 0;
}

.u-section-14 .u-text-6 {
  font-size: 1rem;
  text-transform: none;
  font-family: Nunito;
  margin: 25px auto 0 19px;
}

.u-section-14 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 19px;
  padding: 9px 18px 10px 17px;
}

.u-section-14 .u-image-1 {
  min-height: 623px;
  background-image: url("images/1.png");
  background-position: 38.04% 50%;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-left: 112px;
    margin-right: 16px;
  }

  .u-section-14 .u-text-4 {
    width: auto;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-text-2 {
    margin-top: 0;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-14 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-4 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-14 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-14 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-14 .u-btn-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-14 .u-image-1 {
    min-height: 645px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-image-1 {
    min-height: 968px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 366px;
    margin: 6px 0 55px -26px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 22px;
  }

  .u-section-14 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-14 .u-text-4 {
    margin-right: 0;
  }

  .u-section-14 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-14 .u-text-6 {
    margin-top: 28px;
    margin-right: 149px;
  }

  .u-section-14 .u-btn-1 {
    margin-top: 24px;
    margin-right: 204px;
  }

  .u-section-14 .u-image-1 {
    min-height: 496px;
  }
}