@import url(nicepage.css);
* {
  margin: 0px;
  padding: 0px;
}
.logoo {
  width: 157px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  margin-bottom: 50px;
}

.father-initial {
  width: 80%;
  margin: 0 auto;
}
.box-flex {
  margin: 50px auto;
}
.father-initial p {
  font-weight: 500;
  font-family: "Open Sans";
}

.father-initial h1 {
  font-size: 2rem;
}

.father-initial h2 {
  font-size: 1.2rem;
}
.flx {
  display: flex;
  align-items: center;
}
.flx img {
  width: 20px;
  margin-right: 7px;
}
.mini-box p {
  margin: 0px;
  font-weight: 400;
}
.mini-box {
  background-color: #b4f5f5;
  padding: 15px;
  border-radius: 20px;
  padding: 10px 25px 25px 30px;
  margin-bottom: 40px;
  max-width: 300px;
}
.flx h2 {
  font-weight: 500;
  text-shadow: -1px 3px 4px #d5d5d5;
}

.box-why h1 {
  margin-top: 100px;
  margin-bottom: 57px;
}

.img-box-curso img {
  width: 300px;
  max-width: 500px;
}
.img-box-curso {
  overflow: hidden;
  display: flex;
  object-fit: cover;
  height: 285px;
}
.img-box-curso img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-cursos p {
  margin: 0px;
}
.price {
  font-weight: 700 !important;
}
.star2 {
  width: 17px;
  margin-left: 3px;
}
.ofer {
  display: flex;
  align-items: center;
}

.fp {
  font-weight: 700 !important;
}
.sp {
  color: grey;
  font-weight: 400 !important;
  margin-left: 5px !important;
  text-decoration: line-through;
}
.star {
  width: 14px;
  margin-left: 5px;
}
.notes {
  display: flex;
  align-items: center;
}
.box-cursos p:nth-child(2) {
  margin: 0px;
  font-weight: 700;
}

.tutor {
  margin: 0px !important;
  font-size: 14px !important;
  color: grey;
  font-weight: 400 !important;
}
.box-cursos {
  margin-bottom: 50px;
}
.box-como {
  background-color: #b4f5f5;
  padding: 20px;
  text-align: center;
  border-radius: 19px;
  margin-bottom: 30px;
}
.box-como img {
  width: 200px;
}
.box-how h1 {
  margin-bottom: 50px;
}

.content-ready {
  text-align: center;
  margin-bottom: 200px;
}

.box-boxes {
  margin: 0 auto;
}

.box-why h1 {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.box-why {
  max-width: 1200px;
  margin: 0 auto;
}
.flix {
  margin: 0 auto;
  display: grid;
}
.gridd {
  display: grid;
  margin: 0 auto;
  justify-content: center;
}
@media (min-width: 912px) {
  /* .father-initial {
      max-width: 600px;
  } */
  .box-flex {
    display: flex;
    gap: 50px;
    max-width: 800px;
  }
  .flix {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .mini-box {
    margin-bottom: 40px;
    max-width: 300px;
    height: 300px;
    width: 100%;
    max-width: 298px;
    height: 90%;
  }

  .quadrados-como {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.box-como {
  max-width: 316px;
  margin: 30px auto;
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
}
.box-how {
  text-align: center;
}
@media (min-width: 1212px) {
  .flix {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .content-cursos {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gridd {
    margin-top: 100px;
  }
  .quadrados-como {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.content-ready {
  text-align: center;
  margin-bottom: 200px;
  max-width: 1200px;
  margin: 100px auto;
}

.u-social-icons {
  margin: 50px auto !important;
}

.griddd {
  width: 80%;
  margin: 100px auto;
}

.griddd {
  display: flex;
  align-items: center;

  overflow: hidden;
}
.hosp {
  width: 500px !important;
}

.box-cursos {
  width: 70%;
}
@media (min-width: 400px) {
  .box-cursos {
    width: 70%;
    margin: 0 3vw !important;
  }
}
.u-container-layoutt {
  padding: 20px !important;
}

.u-expanded-width-smm {
  width: 87% !important;
  margin: 0 auto;
}

.section {
  font-family: "Open Sans" !important;
}
.tttt{
  margin-top: 0px !important;
  margin-bottom: 50px !important;
}
.www{
  display: block !important;
}
.ccc{
  margin: 0 auto;
}
.tttt{
  margin: 50px auto !important;
}